name: Test Release

on:
  pull_request:
  workflow_dispatch:
    inputs:
      release_tag:
        description: 'Release tag (e.g. "0.0.1")'
        required: true
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
          python-version: ${{ matrix.python-version }}
          activate-environment: true

      - uses: dtolnay/rust-toolchain@stable

      - name: Run tests
        run: |
          uv pip install xtr-warp-rs==0.0.1.280
          uv pip install pytest pytest-cov
          pytest tests/test.py
